#navbar{
    background-color: #131921;
}
#inputdropdown{
    
    padding: 4px;
}
#GoButton {
    background-color: #f4a339;
}
#navBar2{
    font-size: smaller;
    background-color: #232f3e;
    }
#navBar2 li {
    border: 1px solid transparent;
    padding: 6px;
    transition: transform 0.3s ease;
}
#navBar2 li:hover{
    border: 1px solid white;
}

#containers {
    top: 75%;
    overflow: visible;
    position: absolute;
}
#containers ul{
    position: relative;
    bottom: 0px;
    overflow: visible;
    justify-content: center;
}
#extrasContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Two columns: 1 part and 2 parts of available space */
    padding: 10px;
    gap: 20px;

}
#containers li{
    width: 100%;
    min-height: fit-content;
    box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
    background-color: white;
}

.extras{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
}
.extrasTitle {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 2px;
}
.extrasLinks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6;
    gap:10px;
    justify-content: space-evenly;
}
.extrasLinks a{
    width: 47%;
}
.hi{
    font-size: 12px;
}
.extrasBottom {
    color: black;
    margin-left: 4px;
    bottom: 10px;
    font-size: 14px;
    font-weight: 100;
}
ul a{
    width: 40%;
}
#CustomImages img {
    width: 100%;
    height: 100%;
}
